.intro-container {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
}
.intro-container h2{
  background: linear-gradient(to right, rgb(225, 81, 3), violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.genere-buttons{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 12px;
}
.genere-buttons button{
  width: auto ;
  height: 35px;
  font-size: 15px;
  border-radius: 10px;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  
}
@media(max-width:768px){
  .intro-container{
    padding: 10px;
    margin-bottom: 10px;
  }
  .intro-container p{
    font-size: 14px;
  }
  .genere-buttons{
    margin-top: 10px;
    gap: 10px;
    font-size: 12px;
  }
  .genere-buttons button{
    height: 30px;
  }
}